.label{
    text-align: right;
}

.form-input{
    width: 300px;
    height: 30px;
    border: none;
    background: #D3D8EB;
    text-align: center;
    color: #3a3a3a;
}

.dform{
    display: grid;
    grid-template-columns: 200px 300px;
    grid-gap: 10px;
}

.btn-rec {
    border: none;
    background: #3a3a3a;
    width: 305px;
}
.btn-rec:hover {
    background: #05797C;
    /* color: #3a3a3a; */
    transition: 300ms;
    font-size: medium;
}

.list-tache{
    display: none;
}
